
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body {
  background: #0e0b0b;
  color: #f5f5f5;
  overflow-x: hidden;
  position: relative;
}

.gota {
  position: fixed;
  width: 8px;
  height: 20px;
  background: linear-gradient(180deg, #d4a753, #a57725);
  border-radius: 50%;
  filter: blur(1px);
  opacity: 0.85;
  animation: caer 6s linear infinite;
}

@keyframes caer {
  0% {
    transform: translateY(-100px) scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: translateY(120vh) scale(1.2);
    opacity: 0;
  }
}

body::before,
body::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(circle, #d9b55a 30%, transparent 70%),
    radial-gradient(circle, #d9b55a 30%, transparent 70%),
    radial-gradient(circle, #d9b55a 30%, transparent 70%),
    radial-gradient(circle, #d9b55a 30%, transparent 70%),
    radial-gradient(circle, #d9b55a 30%, transparent 70%);
  background-size: 8px 25px, 10px 28px, 7px 22px, 12px 30px, 9px 20px;
  background-repeat: no-repeat;
  background-position:
    10% -80px,
    30% -200px,
    50% -150px,
    70% -250px,
    90% -180px;
  opacity: 0.15;
  animation: aceite 10s linear infinite;
  pointer-events: none;
}

@keyframes aceite {
  0% { transform: translateY(-150px); }
  100% { transform: translateY(120vh); }
}

.hero {
  justify-content: center;
  height: 65vh;
  background: linear-gradient(to bottom, #1a1313, #0e0b0b);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #a87d2b;
  position: relative;
}

.hero h1 {
  font-size: 3.5rem;
  color: #d4a753;
  text-shadow: 0 0 15px #d4a753;
  margin-bottom: 20px;
}
.resalto {
  font-size: 1.3rem;
  color: #d4a753;
  text-shadow: 0 0 15px #d4a753;
}

.hero-texto {
  font-size: 1.3rem;
  max-width: 900px;
  margin: 0 auto;
  color: #e7d9b5;
  line-height: 1.6;
}

.hero-sub {
  margin-top: 15px;
  font-size: 1.1rem;
  max-width: 850px;
  margin: 15px auto 0;
  color: #d4c9a5;
}

.hero-line {
  margin-top: 25px;
  font-style: italic;
  font-size: 1.2rem;
  color: #caa660;
}

.botones-principales {
  text-align: center;
  margin: 30px 0;
}

.botones-principales button {
  background: #d4a753;
  color: #1a1313;
  border: none;
  padding: 14px 22px;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.botones-principales button:hover {
  background: #f0cd7b;
  transform: scale(1.05);
}


.tabla-container {
  width: 90%;
  margin: 40px auto;
  background: #1a1313;              
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #a87d2b;       
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.2);
}

.tabla-titulo {
  color: #d4a753;
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #ffefc7;                 
  font-size: 1rem;
}

thead {
  background: #d4a753;              
  color: #1a1313;                   
}

thead th {
  padding: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #b49452; 
}

tbody tr {
  border-bottom: 1px solid #634c1f;
  transition: background 0.3s;
}

tbody tr:hover {
  background-color: #261d16;        
}

tbody td {
  padding: 10px;
  color: #ffefc7;                   
  text-align: center;
}

tbody td button {
  background: #d4a753;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;           
  font-size: 0.85rem;          
  cursor: pointer;
  color: #1a1313;
  font-weight: bold;
  transition: 0.3s;
}

tbody td button:hover {
  background: #f0d084;
}

/*MODAL CRUD*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 11, 11, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-contenido {
  background: #1a1313;
  padding: 30px;
  width: 500px;                
  max-height: 600px;          
  overflow-y: auto;           
  border-radius: 12px;
  border: 1px solid #b49452;
}

/* Etiquetas */
.modal-contenido label {
  display: block;
  margin: 12px 0 6px;
  color: #d4a753;
}

.modal-contenido input,
.modal-contenido select {
  width: 100%;
  padding: 8px 10px;          
  border-radius: 6px;
  border: none;
  background: #31261f;         
  color: #ffefc7;             
  font-size: 1rem;
}

.modal-contenido input:focus,
.modal-contenido select:focus {
  outline: 2px solid #d4a753;  
  background: #31261f;          
  color: #ffefc7;               
}

/* Botones */
.modal-botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.modal-botones button {
  background: #d4a753;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #1a1313;
  min-width: 110px;
}

.modal-botones button:hover {
  background: #f0d084;
}
